<div class="d-flex justify-content-center pt-1">
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="{{ "https://twitter.com/" }}"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="{{ "https://www.facebook.com/" }}"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-outline-secondary btn-social mr-2" href="{{ "https://www.linkedin.com/" }}"><i class="fab fa-linkedin-in"></i></a>
                                </div>