<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap/fonts.html' %}
</head>

<body>
<!-- Topbar Start -->
{% include 'topbar/topbar.html' %}
<!-- Topbar End -->


<!-- Navbar Start -->
{% include 'nav/nav.html' %}
<!-- Navbar End -->

<div class="col-lg-8">
    <div class="owl-carousel testimonial-carousel">
        <ul>
            <li style="font-size:20px">
                From the Farms
                <ul>
                    <li>
                        It all starts, of course, with the cow. Not just one, but tens of thousands of them –
                        from the hundreds of local farms that sell their raw milk to the St. Albans Cooperative
                        Creamery in St. Albans, Vermont. At the Co-op , the milk is separated into heavy cream
                        and condensed skim milk, then shipped by tanker truck to our St. Albans and Waterbury
                        Vermont factories.
                    </li>
                </ul>
            </li>
            <li style="font-size:20px">
                To The Factory
                <ul>
                    <li>
                        When the trucks arrive at the factory, the milk and cream are pumped into four
                        6,000-gallon storage silos.
                    </li>
                    <li>
                        Kept cool at 36 degrees until we’re ready to convert them into Ben & Jerry’s ice cream
                        and frozen yogurt.
                    </li>
                </ul>
            </li>
            <li style="font-size:20px">
                The Blend Tank
                <ul>
                    <li>
                        In the overall ice cream production scheme of things, making the mix – and making it
                        most excellent – is perhaps the most important part of the whole process. A very skilled
                        and experienced person known as the Mix Master performs mix-making procedures at the
                        Blend Tank, our 1000-gallon stainless steel mega-blender.
                    </li>
                    <li>
                        A batch of ice cream mix starts with heavy cream, condensed skim milk, and liquid cane
                        sugar. To these ingredients the Mix Master also adds egg yolks, cocoa powder for our
                        chocolate flavors, and natural stabilizers which help prevent heat shock and formation
                        of ice crystals.
                    </li>
                    <li>
                        All of the ingredients are blenderized for 6 to 8 minutes, resulting in either a white
                        "sweet cream" mix, or a chocolate mix.
                    </li>
                    <li>
                        The completed batch of mix is then transferred through one of two strainers into the
                        Surge Tank. The Surge Tank is where the mix is stored until it is ready to begin the
                        pasteurization process.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>


<!-- Footer Start -->
<!-- Footer End -->
{% include 'footer/footer.html' %}


<!-- Back to Top -->
<a href="#" class="btn btn-secondary px-2 back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
{% include 'bootstrap/bootstrap.html' %}

</body>
</html>