<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap/fonts.html' %}
</head>

<body>
<!-- Topbar Start -->
{% include 'topbar/topbar.html' %}
<!-- Topbar End -->


<!-- Navbar Start -->
{% include 'nav/nav.html' %}
<!-- Navbar End -->

<!-- Header Start -->
    <div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-3 mt-lg-5">You've logged out</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="{% url 'index' %}">Back to home page</a></p>
            </div>
        </div>
    </div>
    <!-- Header End -->

<!-- Footer Start -->
{% include 'footer/footer.html' %}
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-secondary px-2 back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
{% include 'bootstrap/bootstrap.html' %}

</body>

</html>